<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Utilizar o código "(click)="logar" para a página ser direcionada para o login.
  Obs: Não precisa estar na tag button, pode adicionar no <a> também
  A função está no arquivo cadastro.page.ts -->
  
  <button (click)="logar()">Login</button>
</ion-content>
