<ion-content [fullscreen]="true">
  <section class="conteudo">
    <h1 size="large">cadastro</h1>
    <section>
      <div class="input-cadastro">
        <input [(ngModel)]="user.name" type="text" name="" id="" placeholder="Nome" required>
      </div>
 
      <div class="input-cadastro">
        <input [(ngModel)]="user.phone" type="tel" name="" id="" placeholder="Telefone" required>
        <!-- <ion-icon name="eye"></ion-icon> -->
      </div>
 
      <div class="input-cadastro">
        <input [(ngModel)]="user.email"  type="email" name="" id="" placeholder="Email" required>
      </div>
 
      <div class="input-cadastro">
        <input [(ngModel)]="user.password" type="password" name="" id="" placeholder="Senha" required>
        <!-- <ion-icon name="eye"></ion-icon> -->
      </div>
    </section>
 
    <section>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Li e aceito os termos.</ion-label>
      </ion-item>
      <button (click)="register(user)" class="botao-cadastro">Cadastro</button>
      <p class="conta" (click)="logar()">Já possui uma conta? <button (click)="logar()">Entre aqui</button>
    </section>
  </section>

  
  <!-- Utilizar o código "(click)="logar" para a página ser direcionada para o login.
  Obs: Não precisa estar na tag button, pode adicionar no <a> também
  A função está no arquivo cadastro.page.ts -->
  
  <!-- <button (click)="logar()">Login</button> -->
</ion-content>
