<ion-content [fullscreen]="true">
  <section class="conteudo">
    <h1 size="large">login</h1>
    <section>
      <div class="input-cadastro">  
        <p>Email</p>
        <input [(ngModel)]="user.email" type="email" name="" id="" required>
      </div>
 
      <div class="input-cadastro">
        <p>Senha</p>
        <input [(ngModel)]="user.password" type="password" name="" id="" required>
      </div>
    </section>
 
    <section>
      <button (click)="login(user)" class="botao-login">Entrar</button>
      <p class="conta" (click)="cadastrar()">Ainda não possui uma conta? <span>Inscreva-se</span>
    </section>
  </section>
</ion-content>
