*{
    margin: 0;
    padding: 0;
}

.conteudo{
    background-color: #B7FBFF;
    color: #B7FBFF;
    height: 100%;
    text-align: center;
    
}

h1{
    padding: 35% 0 20% 0;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    background-color: #B7FBFF;
    color: white;
}
 
.input-login{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    background-color: #B7FBFF;
}

p {
    display: flex;
    text-align: left;
    align-items: left;
    border-radius: 15px;
    margin-inline-start: 50px;
    color: white;
}
 
input{
    width: 80%;
    height: 40px;
    margin: 4% 0;
    padding: 7%;
    border-radius: 15px;
    align-items: center;
    color: #ffffff;
    border-color: #866EC7;
    background-color:#866EC7;
}

.input-cadastro{
    background-color: #B7FBFF;
    color: #B7FBFF;
    align-items: center;
}

 
ion-icon{
    height: 30px;
    width: 25%;
    position: absolute;
    left: 70%;
    top: 49%
}
 
 
.mensagem-senha{
    display: block;
    text-align-last: right;
    color: black;
}
 
.botao-login{
    margin: 10% 0;
    border-radius: 10px;
    width: 80%;
    height: 60px;
    background-color: #866EC7;
    font-size: 20px;
    align-self: center;
    left:100px;
    color: white;
}
 
.conta{
    text-align: center;
    align-items: center;
    color: white;
}

span{
    color: #866EC7;
}
 
.checkbox{
    font-size: 16px;
}

.div {
    background-color: #B7FBFF;
}

.section.conteudo {
    background-color: #B7FBFF;
}