<ion-content [fullscreen]="true">
  <main class="container-home">
    <div class="titulo-home">
      <h2>Bem vindo, Ellen!</h2>
    </div>

    <section class="lista">
    <div class="lista-item">
      <input class="checkbox" type="checkbox" name="" id="">
      <label for="">Terminar o projeto</label>
      <ion-icon name="close"></ion-icon>
    </div>

    <div class="lista-item">
      <input class="checkbox" type="checkbox" name="" id="">
      <label for="">Terminar o projeto</label>
      <ion-icon name="close"></ion-icon>
    </div>

    <div class="bnt-add-tela">
      <button class="bnt-add" (click)="criarLista()"><ion-icon name="add"></ion-icon></button>
    </div>


    </section>
  </main>

</ion-content>