<ion-content [fullscreen]="true">
  <main class="container-home">
    <div class="titulo-home" *ngFor="let user of user">
      <h2>Bem vindo, {{user.name}}</h2>
    </div>

    <section class="lista"  >
      <div [ngClass]="{'item-riscado': post.status, 'lista-item': !post.status}" *ngFor="let post of posts">
        <input [(ngModel)]="post.status" (click)="updateFeito(post.id)" class="checkbox" type="checkbox" name="" id="">
        <label [routerLink]="['/edita-lista/' + post.id]" for="">{{ post.title }}</label>
        <ion-icon (click)="deletePost(post.id)" name="close"></ion-icon>
      </div>

      <div class="bnt-add-tela">
        <button class="bnt-add" (click)="criarLista()"><ion-icon name="add"></ion-icon></button>
      </div>


    </section>
  </main>

</ion-content>