.container {
    background-color: #B7FBFF;
    height: 100%;
    text-align: center;
    padding: 40% 30px;
}

ion-button {
    --background: #866EC7;
}

.bnts{
    margin-top: 50%;
    text-transform: uppercase;
}

.bnt{
    margin-top: 20px;
}